body {
    background: #191c1d;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://unsplash.it/1200/800/?random');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(25, 28, 29, 0.9);
    padding: 20px 25px;
    width: 550px;
    height: auto;
    box-sizing: border-box;
    position: relative;
}

.container {
    animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
}

@keyframes showUp {
    0% {
        transform: scale(0);
    }

    100% {
        transoform: scale(1);
    }
}

.row {
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

/*-- materialize css for toast --*/

.toast {
    -webkit-box-shadow: 0 2px 2px 0 rgba(82, 37, 153, 0.14), 0 3px 1px -2px rgba(82, 37, 153, 0.14), 0 1px 5px 0 rgba(82, 37, 153, 0.14);
    box-shadow: 0 2px 2px 0 rgba(82, 37, 153, 0.14), 0 3px 1px -2px rgba(82, 37, 153, 0.14), 0 1px 5px 0 rgba(82, 37, 153, 0.14)
}

#toast-container {
    display: block;
    position: fixed;
    z-index: 10000;
    top: 0.1% !important;
    right: 50% !important;
    transform: translateX(50%) translateY(50%) !important;
}

@media only screen and (max-width: 600px) {
    #toast-container {
        min-width: 100%;
        bottom: 0
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    #toast-container {
        left: 5%;
        bottom: 7%;
        max-width: 90%
    }
}

@media only screen and (min-width: 993px) {
    #toast-container {
        top: 10%;
        right: 7%;
        max-width: 86%
    }
}

.toast {
    border-radius: 32px;
    top: 35px;
    width: auto;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    background-color: #fc3955;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: default;
    text-align: center;
}

.toast .toast-action {
    color: #eeff41;
    font-weight: 500;
    margin-right: -25px;
    margin-left: 3rem
}

@media only screen and (max-width: 600px) {
    .toast {
        width: 100%;
        border-radius: 0
    }
}


/*-- /materialize css for toast --*/