#form-new {
    background-color: #ffa500;
    border-radius: 50px;
    border: solid black 2px;
    width: 80%;
}

html {
  scroll-behavior: smooth;
}

.padding {
    min-height: 33vh;
}

.tagline {
    font-weight:600
}

@media screen and (max-width: 776px) {
  .img {
      vertical-align:bottom;
      height: 100vh
  }
    .arrow-down {
        visibility: visible;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #ffa500;
    }
  }

.new-input{
    background-color: white;
    color: black;
    border: solid black 1px;
}

::placeholder{
  color: white;
  opacity: 1;
}


.bold-text{
font-weight: 700 !important;
color: #000000;
font-size: 3em;
}

.rules {
    margin-top: 30px;
    /*margin-left: 55%;*/
}

.script-logo{
  /*margin-left:100px;*/
  width:inherit;
  height:auto;
}

#rules,#about-us, input, p, h5, h3, h1 ,label{
  font-family: 'Cabin', sans-serif;
}

.sticky-nav{
  position: fixed;
  width:200px;
  top:50%;
}
